[submodule "themes/hugo-theme-nix"]
	path = themes/hugo-theme-nix
	url = https://github.com/LordMathis/hugo-theme-nix.git
[submodule "themes/SimpleIntro"]
	path = themes/SimpleIntro
	url = https://github.com/gangjun06/SimpleIntro
[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = https://github.com/curttimson/hugo-theme-massively.git
