<meta name="author" content="Valerio Galano"/><script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Valerio Galano",

        "url": "https://valeriogalano.it/"
    }
</script><script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "https://valeriogalano.it/"




    }
</script>
<meta property="og:title" content="Valerio Galano" />
<meta property="og:image" content="https://valeriogalano.it/img/logo-512x512.png" />
<meta property="og:url" content="https://valeriogalano.it/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Valerio Galano" />

<meta name="twitter:title" content="Valerio Galano" />
<meta name="twitter:image" content="https://valeriogalano.it/img/logo-512x512.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@valeriogalano" />
<meta name="twitter:creator" content="@valeriogalano" />