<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<div class="container wrapper">
			{{ with .Site.Params.ProfilePicture }}
			<div class="row">
				<div class="col-sm-3 col-centered">
					<img alt="profile-picture" class="img-responsive img-circle user-picture center-block" src="{{.}}">
				</div>
			</div>
			{{ end }}
			<div class="row">
				<div class="col-xs-12 user-profile text-center">
					<h1 id="user-name">{{ .Site.Params.Name }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 user-social text-center">
				{{ partial "social.html" . }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 user-description text-center">
					<p>Mi chiamo Valerio e dal 2006 lavoro con passione come programmatore e analista freelance.</p>
					<p>Mi occupo principalmente dello sviluppo di <strong>Web Application</strong>, <strong>Siti Web</strong>, <strong>plugin per Wordpress</strong>, <strong>Web service</strong>, <strong>API</strong>, <strong>Bot</strong> e <strong>Skill per Alexa</strong>.</p>
					<p>Delle tecnologie che utilizzo abitualmente fanno parte <strong>PHP</strong>, <strong>Wordpress</strong>, <strong>Laravel</strong>, <strong>Zend Framework</strong>, <strong>JavaScript</strong>, <strong>Node.js</strong>, e <strong>Amazon AWS</strong>.</p>
					<p>Al momento, le metodologie di lavoro che prediligo sono <strong>Agile</strong> e <strong>DevOps</strong>.</p>
					<p><strong>Dal 2011</strong> provo a condividere alcune mie esperienze tecniche sul blog <strong><a href="/daredevel">Daredevel</a></strong>.</p>
					<p>Mentre <strong>nel Febbraio del 2019</strong> ho avviato un podcast di divulgazione dal nome <strong><a href="https://pensieriincodice.it">Pensieri in Codice</a></strong>. </p>
					<p>Se sei in interessato ad una <strong>consulenza professionale</strong>, in alto trovi tutti i miei contatti.</p>
					<p>Altrimenti puoi prenotare una <strong><a href="http://bit.ly/vgDocety">lezione privata</a></strong> oppure iscriverti alla mia <strong><a href="https://valeriogalano.it/newsletter">newsletter</a></strong>.</p>
					<!--<p>{{ .Site.Params.About }}</p>-->
				</div>
			</div>

			<div class="push"></div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
